/* General Styles */
body {
  font-family: Garamond, serif;
}

.request-page,
.status-page {
  background-color: #f5f6f6;
  height: 100vh;
}

.header {
  background-color: white;
  padding: 0.5rem 2rem;
}

label,
legend {
  font-weight: 700;
  margin-top: 8px;
}

.form {
  margin: 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  gap: 10px;
}

select,
input,
button {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

input {
  width: 100%;
}

input[type="date"],
input[type="time"],
select {
  width: auto;
}

input[type="date"],
input[type="time"] {
  width: 15vw;
}

input[type="radio"] {
  width: fit-content;
}

select {
  width: 100px;
  padding: 12px 20px;
}

.api-endpoint {
  margin-left: 4px;
}

.api-details {
  display: flex;
  gap: 4px;
}

table {
  width: 100%;
}

th,
.key-label,
.value-label {
  text-align: left;
  font-weight: 600;
}

.date-time-container {
  margin-left: 1.5rem;
  display: flex;
  gap: 2rem;
}

.date-label,
.time-label {
  margin-top: 12px;
  font-size: small;
  font-weight: 400;
}

.date-column,
.time-column {
  display: flex;
  flex-direction: column;
}

/* Button Styles */
button {
  padding: 8px 16px;
  margin: 6px 0;
  cursor: pointer;
  border: 2px solid transparent;
}

.add-row-btn,
.details-btn,
.show-jobs-btn,
.request-page-btn {
  border-color: blue;
  background-color: white;
  color: blue;
}

.add-row-btn:hover,
.details-btn:hover,
.show-jobs-btn:hover,
.request-page-btn:hover {
  background-color: lightblue;
}

.add-row-btn {
  width: fit-content;
}

.submit-btn {
  background-color: blue;
  color: white;
  border: none;
  margin: 1rem 0;
  padding: 12px 32px;
}

.submit-btn:hover {
  background-color: #1434a4;
}

.request-page-btn {
  margin: 2rem auto;
  width: 20rem;
}

/* List Container */
.list-container {
  max-width: 80vw;
  margin: 1rem auto 2rem;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0 auto;
}

#show-favorites-btn,
.star-btn {
  color: blue;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
}

.job-list {
  padding: 1rem 0;
  border: 1px solid lightgray;
  background-color: white;
  font-size: 16px;
}

.job-list th,
.job-list td {
  text-align: center;
}
